* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    background-color: antiquewhite;
}
.new-book-container {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    margin-bottom: 40px;
}

.form-container {
    width: 250px;
    padding: 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px rgb(0,0,0,0.5);
}
.form-container > form >input {
    width: 100%;
    height: 24px;
    margin-bottom: 10px;
}

#addBtn {
    margin-top: 24px;
    padding: 10px;
    background-color: rgb(42, 68, 59);
    border: none;
    border-radius: 4px;
    color: white;
}

#addBtn:hover {
    cursor: pointer;
    background-color:  rgb(52, 83, 72);
}

.book-container {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 10px
}

.book-card {
    background-color: white;
    padding: 25px;
    border-radius: 4px;
}

.book-card > p {
    padding-left: 10px;
    font-size: 26px;
    padding-bottom: 10px;
}

button {
    padding: 10px;
    margin-left: 10px;
    background-color: rgb(106, 124, 124);
    border: none;
    border-radius: 4px;
    color: white;
}


